<div style="text-align: center;">
  <h1>Projektliste</h1>

  <button (click)="openDialog()">Projekt hinzufügen</button>

  <table>
    <thead>
      <tr>
        <th *ngFor="let key of projects[0] | keyvalue">{{ key.key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td *ngFor="let key of getKeys(project)">{{ project[key] }}</td>
      </tr>
    </tbody>
  </table>  
</div>

<div *ngIf="dialogOpen" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border: 1px solid black;">
  <h2>Projekt hinzufügen</h2>
  <label>
    View-ID:
    <input type="text" [(ngModel)]="viewId" />
  </label>
  <button (click)="fetchProject()">Bestätigen</button>
  <button (click)="closeDialog()">Abbrechen</button>
</div>
