table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1rem;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  